@font-face {
  font-family: "Migra";
  src: url("./assets/fonts/Migra-Extralight.ttf");
}
@font-face {
  font-family: "Migra Italic";
  src: url("./assets/fonts/MigraItalic-ExtralightItalic.ttf");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place particles behind other content */
}

.perspectiveParagraph {
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspectiveParagraph:nth-of-type(2) {
  transform: rotateX(-90deg) translateY(9px);
  opacity: 0;
  transform-origin: bottom center;
}

.PerspepctiveText {
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  transform-style: preserve-3d;
}

.slider:hover .PerspepctiveText {
  transform: rotateX(90deg);
}

.slider:hover .PerspepctiveText p:nth-of-type(1) {
  transform: translateY(-100%);
  opacity: 0;
}

.slider:hover .PerspepctiveText p:nth-of-type(2) {
  opacity: 1;
}

.linkContainer {
  perspective: 12000px;
  perspective-origin: bottom;
}
.stroke span {
  -webkit-text-stroke: 0.7px #c9fd74;
  color: transparent;
  transition: all 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}

.stroke span:hover {
  color: white;
}

.stroke span:has(~ span:hover) {
  color: #c9fd74;
}

@media screen and (min-width: 768px) {
  .stroke span {
    padding: 3px;
  }
}

.animate {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}

.about::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -7px;
  top: 27px;
  border-radius: 50%;
  background: #c9fd74;
}
.about::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  top: 29px;
  left: -5px;
  /* top: 19px; */
}
.innerProject,
.innerProject h2,
.innerProject p {
  transition: all 0.2s linear;
}
.innerProject:hover {
  opacity: 0.4;
}
.innerProject:hover h2 {
  transform: translateX(-10px);
}
.innerProject:hover p {
  transform: translateX(10px);
}
.modalContainer {
  z-index: 2000;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: -200px; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  pointer-events: none;
}
@media screen and (max-width: 400px) {
  .modalContainer {
    width: 300px;
    height: 200px;
  }
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.modal {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateY(-400%); */
}
.modal img {
  height: auto;
}
.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  background-color: #455ce9;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  z-index: 2003;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -90%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursorLabel {
  background-color: transparent;
}

.button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}
.button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    320deg,
    rgba(0, 140, 255, 0.678),
    rgba(128, 0, 128, 0.308)
  );
  z-index: 1;
  transition: background 3s;
}
.button:hover::before {
  animation: rotate 1s;
  transition: all 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
.send {
  position: relative;
}
.send::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #c9fd74;
  transition: width 0.8s ease;
}
.send:hover {
  background-clip: text;
  -webkit-background-clip: text;
}
.send:hover::before {
  width: 100%;
}
